.cabecera{
  background-color: green;
  color: yellow;
  text-align: center;
  height: auto;
  padding: 20px 0;
  justify-content: center;
}
.container{
  width: 70%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}
body{
  text-align: right;
  font-family: arial;
  font-size: 50px;
}

h1{
  font-size: 50px;
}

p{
  text-decoration: underline;
  font-size: 20px;
}
